unstructured
pandas
numpy
seaborn
matplotlib
openpyxl
scipy
scikit-learn
rapidfuzz
load_dotenv
statsmodels
imblearn
tesseract
libmagic
chromadb
tiktoken
langchain
langchain-community
langchain-openai
langchain-groq
google
pdfminer